---
import Image from 'astro/components/Image.astro'
import LogoEh from '../images/ehdlhe.png'
import * as content from '../content/pages/footer.md'

const firstColumnLinks = content.frontmatter.footer_1st_column_links as { link: string; target: string }[]
---

<footer class='bg-zinc-50'>
  <div class='relative mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8'>
    <!-- CTA -->
    <div
      class='absolute -top-16 right-auto flex w-11/12 flex-col items-center gap-4 rounded-lg bg-lime-700 p-6 shadow-lg sm:flex-row sm:justify-between'>
      <strong class='text-xl text-amber-300 sm:text-xl'>
        {content.frontmatter.footer_cta_text}
      </strong>
      <a
        class='inline-flex items-center gap-2 rounded-md border border-zinc-50 bg-zinc-50 px-8 py-3 text-lime-700 hover:border-amber-300 hover:bg-transparent hover:text-amber-300 focus:outline-none focus:ring active:bg-zinc-50/90'
        href={content.frontmatter.footer_cta_link}>
        <span class='text-sm font-medium'>{content.frontmatter.footer_cta_text} </span>

        <svg class='size-5' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'>
          <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17 8l4 4m0 0l-4 4m4-4H3'></path>
        </svg>
      </a>
    </div>

    <div class='mt-16 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3'>
      <!-- COLUMN 1 -->
      <div class='ml-10 text-left'>
        <p class='text-lg font-medium text-zinc-900'>{content.frontmatter.footer_1st_column_header}</p>

        <ul class='mt-8 space-y-4 text-sm'>
          <li>
            <a class='text-zinc-700 transition hover:text-zinc-700/75' href='#'> Company History </a>
          </li>

          <li>
            <a class='text-zinc-700 transition hover:text-zinc-700/75' href='#'> Meet the Team </a>
          </li>

          <li>
            <a class='text-zinc-700 transition hover:text-zinc-700/75' href='#'> Employee Handbook </a>
          </li>

          <li>
            <a class='text-zinc-700 transition hover:text-zinc-700/75' href='#'> Careers </a>
          </li>
        </ul>
      </div>
      <!-- COLUMN 2 -->
      <div class='ml-10 text-left'>
        <p class='text-lg font-medium text-zinc-900'>Nápomocné linky</p>

        <ul class='mt-8 space-y-4 text-sm'>
          <li>
            <a class='text-zinc-700 transition hover:text-zinc-700/75' href='#'> Web Development </a>
          </li>

          <li>
            <a class='text-zinc-700 transition hover:text-zinc-700/75' href='#'> Web Design </a>
          </li>

          <li>
            <a class='text-zinc-700 transition hover:text-zinc-700/75' href='#'> Marketing </a>
          </li>

          <li>
            <a class='text-zinc-700 transition hover:text-zinc-700/75' href='#'> Google Ads </a>
          </li>
        </ul>
      </div>
      <!-- COLUMN 3 -->
      <div class='ml-10 text-left'>
        <p class='text-lg font-medium text-zinc-900'>Ďalšie LARPy</p>
        <p class='text-md font-light text-zinc-500'>Nie len od nás</p>

        <ul class='mt-4 space-y-4 text-sm'>
          <li>
            <a class='text-zinc-700 transition hover:text-zinc-700/75' href='#'> Online Guides </a>
          </li>

          <li>
            <a class='text-zinc-700 transition hover:text-zinc-700/75' href='#'> Conference Notes </a>
          </li>

          <li>
            <a class='text-zinc-700 transition hover:text-zinc-700/75' href='#'> Forum </a>
          </li>

          <li>
            <a class='text-zinc-700 transition hover:text-zinc-700/75' href='#'> Downloads </a>
          </li>

          <li>
            <a class='text-zinc-700 transition hover:text-zinc-700/75' href='#'> Upcoming Events </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- LOGO AND COPYRIGHT -->
    <div class='mt-16 sm:flex sm:items-center sm:justify-between'>
      <div class='flex justify-center text-teal-600 sm:justify-start'>
        <Image src={LogoEh} alt='LogoEventHorizonOZ' height={80} />
      </div>

      <p class='mt-4 text-center text-sm text-zinc-500 sm:mt-0 sm:text-right'>
        Copyright &copy; 2024. All rights reserved.
      </p>
    </div>
  </div>
</footer>
