---
import Image from 'astro/components/Image.astro'
import LogoEh from '../images/ehdlhe.png'
import * as content from '../content/pages/footer.md'
import * as contactSettings from '../content/pages/contact-settings.md'
import type { FooterContent, FooterLink } from '../types/pages'
import Button from './shared/Button.astro'

const contentData = content.frontmatter as FooterContent
const firstColumnLinks = contentData.footer_1st_column_links as FooterLink[]
const secondColumnLinks = contentData.footer_2nd_column_links as FooterLink[]
const thirdColumnLinks = contentData.footer_3rd_column_links as FooterLink[]
---

<footer class='bg-zinc-50'>
  <div class='relative mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8'>
    <!-- CTA -->
    <div
      class='absolute -top-16 right-auto flex w-2/3 flex-col items-center rounded-lg bg-lime-800 p-6 shadow-lg sm:flex-row sm:justify-evenly'>
      <strong class='w-3/5 text-xl text-zinc-50 sm:text-xl'>
        {contentData.footer_cta_text}
      </strong>
      <Button text={contentData.footer_cta_button_text} href={contactSettings.frontmatter.newsletter_link} />
    </div>

    <div class='mt-16 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3'>
      <!-- COLUMN 1 -->
      <div class='ml-10 text-left'>
        <p class='text-lg font-medium text-zinc-900'>{contentData.footer_1st_column_header}</p>

        <ul class='mt-4 space-y-4 text-sm'>
          {
            firstColumnLinks.map((link) => (
              <li>
                <a class='text-zinc-700 transition hover:text-zinc-700/75' href={link.link_target}>
                  {link.link_text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <!-- COLUMN 2 -->
      <div class='ml-10 text-left'>
        <p class='text-lg font-medium text-zinc-900'>{contentData.footer_2nd_column_header}</p>

        <ul class='mt-4 space-y-4 text-sm'>
          {
            secondColumnLinks.map((link) => (
              <li>
                <a class='text-zinc-700 transition hover:text-zinc-700/75' href={link.link_target}>
                  {link.link_text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <!-- COLUMN 3 -->
      <div class='ml-10 text-left'>
        <p class='text-lg font-medium text-zinc-900'>{contentData.footer_3rd_column_header}</p>
        <p class='text-md font-light text-zinc-500'>{contentData.footer_3rd_column_subheader}</p>

        <ul class='mt-4 space-y-4 text-sm'>
          {
            thirdColumnLinks.map((link) => (
              <li>
                <a class='text-zinc-700 transition hover:text-zinc-700/75' href={link.link_target}>
                  {link.link_text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <!-- LOGO AND Last updated info -->
    <div class='mt-16 sm:flex sm:items-center sm:justify-between'>
      <div class='flex justify-center text-teal-600 sm:justify-start'>
        <Image src={LogoEh} alt='LogoEventHorizonOZ' height={80} />
      </div>

      <p class='mt-4 text-center text-sm text-zinc-500 sm:mt-0 sm:text-right'>
        Stránka bola naposledy aktualizovaná,<br />
        {new Date().getDate()}. {new Date().getMonth() + 1}. {new Date().getFullYear()}
      </p>
    </div>
  </div>
</footer>
