---
import Button from './shared/Button.astro'
import * as content from '../content/pages/home.md'
import DynamicImage from './shared/DynamicImage.astro'
---

<section class={`relative text-zinc-50`}>
  <DynamicImage
    src={content.frontmatter.hero_image}
    class='absolute inset-0 h-full w-full object-cover object-center'
    lazy={false}
    hero={true}
  />
  <div class='absolute inset-0 bg-gradient-to-t from-emerald-950/90 via-emerald-800/10 via-75% to-transparent'></div>

  <div
    class='relative mx-auto max-w-screen-xl items-center justify-center px-4 pb-12 pt-72 sm:flex sm:px-6 lg:h-screen lg:px-8 lg:pt-96'
  >
    <div class='relative max-w-xl text-center'>
      <span
        class='font-large text-4xl absolute inset-0 select-none font-medium leading-snug text-emerald-950 blur-md sm:text-5xl'
        >{content.frontmatter.hero_header1}
        <br />
        {content.frontmatter.hero_header2}</span
      >
      <h2 class='font-large text-4xl font-medium leading-snug drop-shadow-lg sm:text-5xl'>
        {content.frontmatter.hero_header1}
        <br />
        <span class='text-yellow-500'> {content.frontmatter.hero_header2} </span>
      </h2>
      <div class='text-xl mt-4 w-96 mx-auto relative text-balanced'>
        <div class='text-emerald-950 absolute inset-0 select-none blur-sm z-0'>
          {content.frontmatter.hero_text}
        </div>
        <div class='relative'>
          {content.frontmatter.hero_text}
        </div>
      </div>
      <div class='mt-10 flex font-semibold flex-col justify-center gap-8 px-10 md:flex-row'>
        <Button text={content.frontmatter.hero_button1_text} href={content.frontmatter.hero_button1_link} />
        <!-- <Button text={content.frontmatter.hero_button2_text} href={content.frontmatter.hero_button2_link} /> -->
      </div>
    </div>
  </div>
</section>
