---
import { getCollection } from 'astro:content'
import * as content from '../content/pages/home.md'
import DynamicImage from './DynamicImage.astro'

const teamMemberNames = content.frontmatter.team_members as string[]
const teamCollection = await getCollection('team', (member) => teamMemberNames.includes(member.data.name))
---

<section class='body-font text-zinc-600'>
  <div class='container mx-auto px-5 py-24'>
    <div class='mb-20 flex w-full flex-col text-left'>
      <h2 class='mb-4 font-large text-2xl text-zinc-900 sm:text-3xl'>
        {content.frontmatter.team_header}
      </h2>
      <p class='text-base leading-relaxed lg:w-2/3'>
        {content.frontmatter.team_text}
        <br />
        <a href={content.frontmatter.team_call_to_action_link}>{content.frontmatter.team_call_to_action_text} </a>
      </p>
    </div>
    <div class='-m-2 flex flex-wrap'>
      {
        teamCollection.map((member) => (
          <div class='w-full p-2 md:w-1/2 lg:w-1/3'>
            <div class='flex h-full items-center rounded-lg border border-amber-300 p-4 shadow-sm'>
              <DynamicImage
                alt='team'
                class='mr-4 h-16 w-16 flex-shrink-0 rounded-full object-cover object-center shadow-inner'
                src={member.data.image}
              />
              <div class='flex-grow'>
                <h2 class='title-font font-medium text-zinc-900'>{member.data.name}</h2>
                <p class='text-gray-500'>{member.data.role}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
