---
import * as content from '../../content/pages/current-larp-event.md'
import StyledMarkdown from '../shared/StyledMarkdown.astro'
import ViewTracker from '../shared/ViewTracker.astro'
import AccordionItem from '../shared/AccordionItem.astro'
import TicketSales from '../shared/TicketSales.astro'

const eventId = content.frontmatter.tootoot_id
---

<TicketSales title={content.frontmatter.ticketsTitle} eventId={eventId} />
<ViewTracker eventName='TicketDescription'>
    <div class='leading-relaxed text-base m-6'>
        <StyledMarkdown of={content.frontmatter.ticketsText} />
        <div class='mt-8'>
            {
                content.frontmatter.ticketTypes &&
                    content.frontmatter.ticketTypes.map((type, idx) => (
                        <AccordionItem
                            title={type.title}
                            subheader={type.subheader}
                            sale_end={type.sale_end}
                            text={type.text}
                            image=''
                            key={idx}
                        />
                    ))
            }
        </div>
    </div>
</ViewTracker>

<script is:inline lang='javascript'>
    function initializeTootootIframe(window, document, iframeId) {
        const channelId = 'tootoot-iframe-channel'
        const scriptTagName = 'script'
        const ASYNC_LOAD_KEY = 'TootootIframesAsyncLoad'
        const scriptElement = document.getElementsByTagName(scriptTagName)[0]

        // Initialize async load array if not exists
        if (!window[ASYNC_LOAD_KEY]) {
            window[ASYNC_LOAD_KEY] = []
        }

        // Check if iframe channel script already exists
        if (document.getElementById(channelId)) {
            const tootootFrames = window.TootootIframes

            // Either register directly or queue for later
            if (tootootFrames) {
                tootootFrames.register(iframeId)
            } else {
                window[ASYNC_LOAD_KEY].push(iframeId)
            }
        } else {
            // Queue iframe and create channel script
            window[ASYNC_LOAD_KEY].push(iframeId)

            const newScript = document.createElement(scriptTagName)
            newScript.id = channelId
            newScript.src = 'https://tootoot.fm/buy-embedded/host.v2.js'
            scriptElement.parentNode.insertBefore(newScript, scriptElement)
        }
    }
    initializeTootootIframe(window, document, 'tootoot-iframe')
</script>
