---
import { getCollection } from 'astro:content'
import * as content from '../content/pages/home.md'

const playerStories = content.frontmatter.player_stories as string[]
const sotryCollection = await getCollection('stories', ({ data }) => playerStories.includes(data.title))
---

<section class='body-font text-gray-600'>
  <div class='container mx-auto px-5 py-24'>
    <div class='mb-20 flex w-full flex-col text-center'>
      <h1 class='title-font mb-4 text-2xl font-medium text-gray-900 sm:text-3xl'>
        {content.frontmatter.player_stories_header}
      </h1>
      <p class='mx-auto text-base leading-relaxed lg:w-2/3'>
        {content.frontmatter.player_stories_text}
      </p>
    </div>
    <div class='-m-4 flex flex-wrap'>
      {
        sotryCollection.map((story) => (
          <div class='p-4 sm:w-1/2 lg:w-1/3'>
            <div class='relative flex'>
              <img alt='gallery' class='absolute inset-0 h-full w-full object-cover object-center' src='https://dummyimage.com/600x360' />
              <div class='relative z-10 w-full border-4 border-gray-200 bg-white px-8 py-10 opacity-0 hover:opacity-100'>
                <h2 class='title-font mb-1 text-sm font-medium tracking-widest text-yellow-500'>{story.data.event}</h2>
                <h1 class='title-font mb-3 text-lg font-medium text-gray-900'>{story.data.title}</h1>
                <p class='leading-relaxed'>{story.data.story}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
