---
import EventInfo from '../components/EventInfo.astro'
import StoryInfo from '../components/larp-event/StoryInfo.astro'
import Layout from '../layouts/Layout.astro'
import * as content from '../content/pages/current-larp-event.md'
import { getCollection } from 'astro:content'
import TicketRegistration from '../components/larp-event/TicketRegistration.astro'
import RegistrationSteps from '../components/larp-event/RegistrationSteps.astro'

const eventColection = await getCollection(
  'events',
  ({ data }: { data: any }) => data.title == content.frontmatter.current_larp_event,
)
if (!eventColection || eventColection.length === 0) {
  throw new Error(`Event with name ${content.frontmatter.current_larp_event} not found`)
}
const event = eventColection[0].data
---

<Layout title={event.title}>
  <div class='bg-zinc-50 mx-auto max-w-5xl'>
    <EventInfo eventName={event.title} displayHeading={false} />
    <StoryInfo eventTitle={event.title} />
    <TicketRegistration />
    <RegistrationSteps />
  </div>
</Layout>
