---
import AccordionItem from '../shared/AccordionItem.astro'
import DynamicImage from '../shared/DynamicImage.astro'
import StyledMarkdownFullWidth from '../shared/StyledMarkdownFullWidth.astro'
import * as content from '../../content/pages/world.md'

const cultures = content.frontmatter.cultures as { name: string; description: string; image: string }[]
---

<div class='mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16'>
  <h3 class='font-large mb-2 text-3xl'>{content.frontmatter.cultures_header}</h3>
  <StyledMarkdownFullWidth of={content.frontmatter.cultures_body} />
</div>

<div class='relative overflow-hidden rounded-lg shadow-inner max-h-[30rem] mb-8'>
  <DynamicImage src={content.frontmatter.cultures_image} class:list={'object-cover object-center shadow-inner'} />
</div>

<div class='mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16'>
  <StyledMarkdownFullWidth of={content.frontmatter.cultures_secondary_body} />
</div>

{cultures.map((culture) => <AccordionItem title={culture.name} text={culture.description} image={culture.image} />)}
